<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoadBeforeStudentHomeFilter</filter-name>
        <filter-class>khoaphd.filters.LoadBeforeStudentHomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>khoaphd.filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>khoaphd.filters.StudentFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GuestFilter</filter-name>
        <filter-class>khoaphd.filters.GuestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
        <url-pattern>/signUp.jsp</url-pattern>
        <url-pattern>/LoginController</url-pattern>
        <url-pattern>/SignUpController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/studentHome.jsp</url-pattern>
        <url-pattern>/doQuiz.jsp</url-pattern>
        <url-pattern>/showQuizResult.jsp</url-pattern>
        <url-pattern>/BackQuestionController</url-pattern>
        <url-pattern>/ChooseQuestionController</url-pattern>
        <url-pattern>/LogoutController</url-pattern>
        <url-pattern>/NextQuestionController</url-pattern>
        <url-pattern>/ProcessBeforeStudentController</url-pattern>
        <url-pattern>/StartQuizController</url-pattern>
        <url-pattern>/SubmitQuizController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/adminHome.jsp</url-pattern>
        <url-pattern>/createNewQuestion.jsp</url-pattern>
        <url-pattern>/CreateNewQuestionController</url-pattern>
        <url-pattern>/DeleteQuestionController</url-pattern>
        <url-pattern>/LoadBeforeCreateController</url-pattern>
        <url-pattern>/LogoutController</url-pattern>
        <url-pattern>/SearchController</url-pattern>
        <url-pattern>/UpdateQuestionController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadBeforeStudentHomeFilter</filter-name>
        <url-pattern>/studentHome.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SE140609DS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <error-page>
        <location>/error.jsp</location>
    </error-page>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
</web-app>
