body {
    background-color: #E2E2E2 !important;
}

.navbar {
    background: #3598DC;
    color: white;
    margin-bottom: 30px;
}

.navbar .brand-name {
    font-size: 20px !important;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: white;
}

.alert-no-quiz {
    width: 300px;
    margin: 0 auto;
}

.subject-quiz-table {
    width: 90%;
    margin: 0 auto;
}